.sidebar-row {
  display: flex;
  align-items: center;
  padding: 10px 20px;

  .sidebar-row__icon {
    color: #606060;
    font-size: large;
  }

  .sidebar-row__title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
  }

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  &:hover > .sidebar-row__icon{
    color: red;
  }

}

.sidebar-row.selected {
  background-color: lightgray;
}

.sidebar-row.selected > .sidebar-row__icon{
  color: red;
}

.sidebar-row.selected > .sidebar-row__title{
  font-weight: bold;
}
