.recommended-videos {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 40px 60px 0;
  height: 100vh;

  .recommended-videos__title {
    margin-left: 5px;
    margin-bottom: 20px;
  }

  .recommended-videos__videos {
    display: flex;
    flex-wrap: wrap;
  }
}
